:root {
  --ap-hexagon-container--hexagon-background-color: 'transparent';
  --ap-hexagon-container--hexagon-border-width: 2px;
  --ap-hexagon-container--hexagon-size: 0;
}

.ap-hexagon-container {

  background: var(--ap-hexagon-container--hexagon-background-color);

  &.ap-hexagon-container--vertical {
    padding-bottom: calc(var(--ap-hexagon-container--hexagon-size) / 4 + var(--ap-hexagon-container--hexagon-border-width));
    padding-right: calc(var(--ap-hexagon-container--hexagon-border-width) + 1px);
  }
  
  &.ap-hexagon-container--horizontal {
    padding-right: calc(var(--ap-hexagon-container--hexagon-size) / 4 + var(--ap-hexagon-container--hexagon-border-width));
    padding-bottom: calc(var(--ap-hexagon-container--hexagon-border-width) + 1px);
  }
}