.ap-elements-map-unit {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid transparent;

  &.ap-elements-map-unit--selected {
    scale: 1.05;
    transform-origin: 50% 50%;
    z-index: 1;
    &.ap-elements-map-unit--ennemy {
      border: 0.25rem solid red;
    }
    &.ap-elements-map-unit--self {
      border: 0.25rem solid yellow;
    }
  }
}